.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
	text-transform: none;
	font-weight: normal;
}
.reveal h1 {
	font-size: 1.5em;
	display: inline-block;
	font-weight: 700;
	background: rgba(255, 255, 255, 0.9);
}
.reveal h2 {
	font-size: 1em;
	font-style: italic;
}

.reveal strong {
	font-size: 1.5em;
}

.reveal .slide-background{
	background-size: contain;
}
 
.reveal .note {
	text-align: left;
	margin-top: 40px;
	font-family: monospace, Courier;
	font-size: .25em;
	line-height: 1.25em;
}

.reveal .nav_div {
	font-style: italic;
	position: fixed; bottom: 10px;
	width: 100%;
	font-size: 0.8em;
	line-height: 1.25em;
}

.reveal .nav_span {
	margin: 0 30px;
	display: inline-block;
}

div.inner_div {
	margin: 0 auto;
	line-height: 1.5em;
	text-align: center;
}

div.chart_container {
	margin: 0 auto;
	position: relative;
}

.reveal .readable_over {
	background: rgba(255, 255, 255, 0.8);
	padding: 20px;
}

.reveal ul{
	list-style-type: circle;
}

.reveal ul.readable_over {
	padding-left: 50px;
}

.clickable{
	color: #595959;
}

.reveal h1.clickable{
	color: #595959;
}

.clickable:hover {
	cursor: pointer;
}

.reveal section .half_size {
	font-size: .5em;
}
