#strumet_main ul.ul_tmb{
	display: flex; flex-flow: row wrap; justify-content: center;
	list-style: none;
}

#strumet_main ul li.li_tmb{
	flex: 0 0 240px;
	margin: 20px 0;
}

#strumet_main figure.fig_tmb{
	margin: 0;
	width: 200px; height: 200px;
	background-position: center; background-size: 200px;
	-webkit-transition: background-size 1s; transition: background-size 1s;
}

#strumet_main figure.fig_tmb:hover{
	background-size: 250px;
}

#strumet_main a.a_tmb{
	text-decoration: none;
}

#strumet_main div.div_tmb{
	width:200px; height: 200px;
	background-image: radial-gradient(circle 200px, rgba(0,0,0,0), rgba(0,0,0,0.5));
	opacity: .2; -webkit-transition: opacity 1s; transition: opacity 1s;
}

#strumet_main div.div_tmb:hover{
	opacity: 1;
}

#strumet_main figure.fig_tmb figcaption{
	padding: 5px 0;
	position: relative;
	background: black; color: white;
	font-weight: bold; font-family: 'Open Sans', sans-serif;
	opacity: .25; -webkit-transition: opacity 1s; transition: opacity 1s;
}

#strumet_main div.div_tmb:hover + figcaption{
	opacity: .75;
}

#strumet_main ul#credit_list {
	list-style: none; text-transform: capitalize;
	display: flex; flex-flow: row wrap; justify-content: start;
	text-align: left;
}

#strumet_main ul#credit_list li {
	flex: 0 0 200px;
}

#strumet_main ul#credit_list a:link,
#strumet_main ul#credit_list a:visited {
	color: #272727;
}
#strumet_main ul#credit_list a:hover,
#strumet_main ul#credit_list a:active {
	color: rgb(127, 127, 127);
