html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background-color: #339c3f;
}

body {
  width: 70%;
  min-width: 800px;
  margin: 0 auto;
}


h1, h2, h3 {
  font-family: 'helvetica', cursive;
  color: #2a2a2a;
}

p, input, li {
  font-family: 'helvetica', sans-serif;
  color: #2a2a2a;
}

ul#menu {
    font-family: Verdana, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    list-style:none;

}

ul#menu li {
    background-color: #ffffff;
    border-left: 5px solid #faf0e6;
    display: block;
    width: 150px;
    height: 40px;
    margin: 7px 0;
}

ul#menu li a {
    color: black;
    display: block;
    font-weight: normal;
    line-height: 17px;
    padding-left: 15px;
    text-decoration: none;
    width: 135px;
    height: 30px;
    clear: left;

}

h1 {
  font-size: 4rem;
  text-align: center;
  text-shadow: 0px 0px 0px black;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

h3 {
  font-size: 2.2rem;
}

p, li {
  font-size: 1.6rem;
  line-height: 1.5;
}



body > * {
  background-color: #6ee17c;
  padding: 1%;
}

main, nav, article, aside, section {
  background-color: #ffffff;
  padding: 1%;
}

h1 {
  flex: 5;
  text-transform: uppercase;
}


nav {
  height: 50px;
  flex: 100%;
  display: flex;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a, nav span {
  display: inline-block;
  font-size: 2rem;
  height: 3rem;
  line-height: 1.7;
  text-transform: uppercase;
  text-decoration: none;
  color: black;

}


main {
  display: flex;
}

article {
  flex: 2;
}

aside {
  flex: 3;
  margin-left: 10px;
  padding: 1%;
}




aside a {
  display: block;
  float: left;
  width: 50%;
}

aside img {
  max-width: 100%;
}

footer {
  font-size: 0.5rem;
  text-align: center;
  margin-top: 10px;
}
