/* || General setup */

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background-color: #990000;
}

body {
  width: 70%;
  min-width: 800px;
  margin: 0 auto;
}

/* || typography */

h1, h2, h3 {
  font-family: 'SignPainter', cursive;
  color: #2a2a2a;
}

p, input, li {
  font-family: 'Apple Chancery', cursive;
  color: #2a2a2a;
}

h1 {
  font-size: 64px;
  font-stretch: extra-expanded;
  text-align: center;
  text-shadow: 2px 2px 10px black;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

h3 {
  font-size: 2.2rem;
}

p, li {
  font-size: 1.6rem;
  line-height: 1.5;
}

/* || header layout */

header {
  margin-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
}

body > * {
  background-color: red;
  padding: 1%;
}

main, header, nav, article, aside, footer, section {
  background-color: #ffe6e6;
  padding: 1%;
}

h1 {
  flex: 5;
  text-transform: uppercase;
}

header img {
  display: block;
  height: 60px;
  padding-top: 20.15px;
}

nav {
  height: 50px;
  flex: 100%;
  display: flex;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a, nav span {
  display: inline-block;
  font-size: 2rem;
  height: 3rem;
  line-height: 1.7;
  text-decoration: none;
  color: black;
  border: 1px solid #990000;
}

/* || main layout */

main {
  display: inline-block;
}

article {
  flex: 4;
}

article img {
width: inherit;
  max-width: 30%;
  display: block;
  margin-left:auto;
  margin-right: auto;
  }

aside {
  flex: 1;
  margin-left: 10px;
  padding: 1%;
}

aside a {
  display: block;
  float: left;
  width: 50%;
}

aside img {
  max-width: 100%;
}

footer {
  margin-top: 10px;
}

footer img{
  max-width: 3%;
  display: inline;
}
