body {
  background-color: white;
}

p {
  padding-left: 20px;
  padding-right: 40px;
  text-align:justify;
    }

  #banner {
  background-image:url("philippe-toupet-320689-unsplash.jpg");
  background-size: cover;
  background-position:top left;
  width: 100%;
  height:400px;
}


#banner .content h1 {
  position: relative;
  top: 20px;
  width: 300px;
  margin: 0 auto;
  border: 3px solid white;
}

.maintitle {
font-family:Montserrat, sans-serif;
color: darkslategrey;
font-weight: bold;
size: 300px;
text-transform: uppercase;
padding:10px;
text-align: center;
}

.title {
  font-family:Montserrat, sans-serif;
  color:darkslategrey;
  font-weight:100;
  size:100px;
  padding: 10px;
  text-align: center;

  }

.bodi {
font-family: Raleway, sans-serif;
size: 14px;
color: darkslategrey;
}

.h {
font-family:Montserrat, sans-serif;
text-transform: uppercase;
size: 14px;
color:lightslategrey;
padding-left: 20px;
hyphens: auto;
  }

.sello {
  width:100%;
  height: 300px;
  margin-left: 20px;
  position:relative;
}

.image {
  width:240px;
  height:180px;
  margin-left: 0px;
  text-align: -10px;

  }
  .image1 {
    width:240px;
    height:180px;
    margin-left: -20px;
    text-align: -10px;

}
.fig {
  margin-left: -20px;
  }

.share {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    position: relative;
    width: 100%;
}



}

a:link {
color:darkslategrey;
}


a:visited {
    color: darkslategrey;
}


a:hover {
  text-decoration: underline;
  color: lightslategrey
}
