#{
  margin:0;
  padding:0;
}
.load{
  animation:slide 1s;
}
.slider{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  animation:slide 30s infinite;
}
.content{
  color: #ebebec;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
}
.principal{
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  letter-spacing: 5px;
  text-align: center;
}
.principal h1{
  font-size: 70px;
  margin-bottom: 20px;
}
.principal p{
  font-size: 15px;
}

@keyframes slide{
  0%{
    background-image: url("893389_01.jpg");
  }
  20%{background-image: url("893389_02.jpg");
  }
  40%{background-image: url("893389_03.jpg");
  }
  40.01%{
    background-image: url("893389_04.jpg");
  }
  60%{background-image: url("893389_05.jpg");
  }
  80%{background-image: url("893389_06.jpg");
  }
  80.01%{
    background-image: url("893389_07.jpg");
  }
  100%{background-image: url("893389_08.jpg");
  }
  100%{background-image: url("893389_09.jpg");
  }

}

ul{
  float: right;
  list-style-type: none;
  margin-top: 25px;
  margin-right: 25px;
}

ul li{
  display: inline-block;
}

ul li a{
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border: 1px solid #fff;
  transition: 0.6s ease;
  }

ul li a:hover{
  background-color: #fff;
  color:#000;
}
