body{
  background-image:url("897875_10.png");
}
h1{
  color:white;
  font-family: Arial;
  font-size: 16px;
}
h2{
  color:white;
  font-family: Georgia;
  font-size: 13px;
}
ul{
  color:white;
  font-family: Arial;
  font-size: 13px;

}
p{
  color: white;
  font-family: Arial;
  font-size: 17px;
}
