h1 {
  text-transform: uppercase;
}

#tuodiv {
width: 100%; height: 100%; top: 0; left: 0;
background: url(/Users/elioraineri/Downloads/sito/inizio.jpg) no-repeat center top; position: fixed; z-index: -1;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Open Sans, Arial, sans-serif;
    overflow-x: hidden;
    font-size: 40px;
    opacity: 1;
    transition: 0.7s;
}

body.fade {
    opacity: 0;
    transition: none;
}

nav {
    z-index: 1000;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 280px;
    background-color: #ffffff;
    opacity: 0.8;
    transform: translate3d(-280px, 0, 0);
    transition: transform 0.4s ease;
}
.active-nav nav {
    transform: translate3d(0, 0, 0);
}
nav ul {
    list-style: none;
    margin-top: 0px;
}

a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 60px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 26.4px;
}

nav ul li a {
    text-decoration: none;
    display: block;
    text-align: center;
    color: #000000;
    padding: 100px 0;
    text-align: left;
    margin-left: 30px;
}

.icon {
  position: absolute;
  top: 45%;
  left: 0;
  width: 80px;
  height: 80px;
  cursor: pointer;
  background: #ffffff;
  opacity: 0.8;
  transition: transform 0.4s
}

.hamburger {
  width: 50px;
  height: 6px;
  background: #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  transition: .5s;
}

.hamburger:before,
.hamburger:after {
  content: '';
  position: absolute;
  width: 50px;
  height: 6px;
  background: #000000;
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  transition: .5s;
}

.hamburger:before {
  top: -16px;
}
.hamburger:after {
  top: 16px;
}

.icon.active .hamburger {
  background: rgba(0,0,0,0);
  box-shadow: 0 2px 5px rgba(0,0,0,0);
}

.icon.active .hamburger:before {
  top: 0;
  transform: rotate(45deg);
}

.icon.active .hamburger:after {
  top:0;
  transform: rotate(135deg );
}

.active-nav .content {
    transform: translate3d(200px, 0, 0);
}

.active-nav .icon {
    transform: translate3d(280px, 0, 0);
}

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

body { margin: 0; }
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 700px;
  position: relative;
  margin: auto;
  margin-top: 100px;
}

.slideshow-container1 {
  max-width: 1200px;
  position: relative;
  margin: auto;
  margin-top: 100px;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #f2f2f2;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  bottom: -120px;
  width: 100%;
  text-align: center;
}

.text1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #f2f2f2;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

h2 {
  text-align: center;
  padding: 80px;
  color: #ffffff;
}


header {
  margin: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flexbox-wrap: wrap;
  -ms-flexbox-direction: column;
  -webkit-flex-flow: row wrap;
  flex flow: row wrap;
  display: -webkit-box;
  display: flex;
}

header div {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 200px;
  margin: .5vw;
}

header div img {
  width: 100%;
  height: auto;
}
