@charset 'UTF-8';

html,
html * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
	width: 100%;
	top: 0;
	padding: 1.5em;
	position: fixed;
}

h1 {
	color: #fff;
	text-transform: uppercase;
	font-size: 7em;
	letter-spacing: .80em;
}

body {
	font-family: arial, sans-serif;
	font-size: 1vw;
	background: white;
}
a, a:visited {
	color: #503614;
}
header {
	z-index: 1000;
}

.site-nav {
	position: relative;
	float: right;
	z-index: 400;
	top: 0;
	left: 0;
	display: block !important;
	width: 80%;
	padding: .75em 1em 0 0;
	opacity: .95;
	background: none;
}
.site-nav ul {
	list-style-type: none;
	margin: 0;
	text-align: right;
}
.site-nav ul li {
	display: inline-block;
	margin-bottom: 0;
	margin-left: 1.5em;
}
.site-nav ul li a {
	font-size: .85em;
	padding-bottom: .5em;
	text-decoration: none;
	letter-spacing: .15em;
	text-transform: uppercase;
	color: #68461A;
	-webkit-transition: color .3s;
	transition: color .3s;
}
.site-nav ul li a:hover {
	outline: none;
	border-bottom: 1px solid #503614;
}
.hero {
	position: relative;
	height: 45vw;
	background-color: #FFBE00;
}
.hero-content {
	font-family: 'acumin-pro-extra-condensed', sans-serif;
	color: #fff;
	position: absolute;
	z-index: 20000;
	padding-top: 4em;
	top: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}
h2 {
	font-weight: 100;
	font-size: 2em;
	line-height: 2.2;
	margin-bottom: -.35em;
	padding-top: 13%;
	letter-spacing: .3em;
	text-transform: uppercase;
	text-shadow: 0px 0px 8px rgba(0, 0, 0,.2);
}
h1 {
	margin-bottom: 1.5%;
	text-shadow: 0px 0px 10px rgba(0, 0, 0,.05);
	margin-left: .7em;
}
h3 {
	font-size: 1.5em;
	font-weight: 100;
	line-height: 2.75;
	letter-spacing: .35em;
	text-transform: uppercase;
	text-shadow: 0px 0px 8px rgba(0, 0, 0,.2);
}
.intro {
  	position: middle;
	height: 130vw;
	background-image: -webkit-linear-gradient(bottom left, rgba(247,247,247,1.00) 0%, rgba(255,241,62,1.00) 100%);
	background-image: -o-linear-gradient(bottom left, rgba(255,255,255,1.00) 0%, rgba(255,190,0,1.00) 100%);
	background-image: linear-gradient(to top right, rgba(255,255,255,1.00) 0%, rgba(255,190,0,1.00) 100%);;
}
.intro img {
	margin-left: 2em;
	width: 30%;
	max-width: 100%;
	height: auto;
	display: inline-block;
	padding: 2em;
}

footer {
	margin-top: -3.5em;
	padding-top: 6em;
	background:#FFBE00; 
}
.footer-content {
	width: 64%;
	margin: 0 auto;
	padding-bottom:1.7em;
}
.footer-info {
	padding-top: 5em;
}
.footer-info p {
	font-size: .8em;
	color:#fff;
	line-height: 1.55;
	max-width: 36em;
	margin-bottom: 1.7em;
}
.footer-info {
	clear: both;
}
.footer-credit a:hover {
	text-decoration: none;
}